<div class="row">
  <div class="col-10 offset-1">
    <form (submit)="postComment()">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input
          type="text"
          class="form-control"
          id="nameInput"
          name="nameInput"
          placeholder="Your name"
          [(ngModel)]="newComment.author"
        />
      </div>
      <div class="form-group">
        <label for="textInput">Comment</label>
        <input
          type="text"
          class="form-control"
          id="textInput"
          name="textInput"
          placeholder="Your comment"
          [(ngModel)]="newComment.text"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>

<div class="row ms-3 mt-2" *ngFor="let comment of comments">
  <div class="col">
    <app-comment [comment]="comment"></app-comment>
  </div>
</div>
